name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    #- name: Set up QEMU
    #  uses: docker/setup-qemu-action@v3

    #- name: Set up Docker Buildx
    #  uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        #platforms: linux/amd64
        provenance: true
        sbom: true
        push: true
        tags: n3rv4/php-caddy
